<ion-view title="Add Tags" id="page8">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <ion-list>
            <label class="item item-input" name="Search Tags">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Type A Tag ex: Studies Engineering">
            </label>
            <ion-item>Suggested Tag</ion-item>
            <ion-item>Suggested Tag</ion-item>
            <ion-item>Suggested Tag</ion-item>
            <ion-item class="item-divider">Current Tags</ion-item>
        </ion-list>
        <!-- <ion-list>
            <ion-item>Tag1</ion-item>
            <ion-item>Tag2</ion-item>
            <ion-item>Tag3</ion-item>
        </ion-list> -->
        <div class="list card" ng-repeat="tag in tags">
          <div class="item item-divider">{{tag.text}}</div>
          <div class="item item-body">
            <div>
              {{tag.hits}}
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
