<ion-view title="Decks" id="page9" style="background-color:#008FFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search Decks">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Decks">
            </label>
        </form>
        <ion-list ng-repeat="deck in decks">
            <ion-item ui-sref="viewDeck">Name: {{deck.name}}, Dsc: {{deck.description}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
