<ion-view title="Decks" id="page9" style="background-color:#008FFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search Decks">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Decks">
            </label>
        </form>
        <ion-list>
            <ion-item ui-sref="viewDeck">Deck1</ion-item>
            <ion-item ui-sref="viewDeck">Deck2</ion-item>
            <ion-item ui-sref="viewDeck">Deck3</ion-item>
        </ion-list>
        <ion-list>
            <ion-item ui-sref="viewDeck">Deck4</ion-item>
            <ion-item ui-sref="viewDeck">Deck5</ion-item>
            <ion-item ui-sref="viewDeck">Deck6</ion-item>
        </ion-list>
    </ion-content>
</ion-view>