<<ion-view title="Logout_View" id="page27" style="background-color:#008CFF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <h1 id="Sign-Out-Success" style="color:#FFFFFF;">Sign Out Successfull!</h1>
      <a ui-sref="login" id="login_button" class="button button-positive  button-block icon-left ion-card" data-componentid="button6">Log In</a>
      <a ui-sref="signup" class="button button-block button-assertive icon-left ion-android-add-circle">Sign Up!</a>
    <ion-list>
  </ion-content>
</ion-view>
