<ion-view title="My Card" id="page12" style="background-color:#BBBBBB;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <form class="list">
            <label class="item item-input" name="Name">
                <span class="input-label">My Name</span>
                <input type="text" placeholder="Fname Lname">
            </label>
            <label class="item item-input" name="Number">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder="(555)555-5555">
            </label>
            <label class="item item-input" name="email">
                <span class="input-label">Email Address</span>
                <input type="text" placeholder="my@email.com">
            </label>
            <label class="item item-input" name="Address">
                <span class="input-label">Address</span>
                <input type="text" placeholder="Your Address">
            </label>
            <label class="item item-input" name="Company">
                <span class="input-label">Company</span>
                <input type="text" placeholder="Your Company">
            </label>
            <label class="item item-input" name="Position">
                <span class="input-label">Position</span>
                <input type="text" placeholder="Your Position">
            </label>
            <label class="item item-input" name="Facebook">
                <span class="input-label">Facebook</span>
                <input type="text" placeholder="handle">
            </label>
            <label class="item item-input" name="Pinterest">
                <span class="input-label">Pinterest</span>
                <input type="text" placeholder="handle">
            </label>
            <label class="item item-input" name="Instagram">
                <span class="input-label">Instagram</span>
                <input type="text" placeholder="handle">
            </label>
            <label class="item item-input" name="Twitter">
                <span class="input-label">Twitter</span>
                <input type="text" placeholder="handle">
            </label>
            <label class="item item-input" name="Website">
                <span class="input-label">Website</span>
                <input type="text" placeholder="www.yoursite.com">
            </label>
            <a ui-sref="viewBusinessCard" id="myCard-button12" class="button button-positive  button-block">Save!</a>
        </form>
    </ion-content>
</ion-view>