<ion-view title="My Card" id="page12" style="background-color:#BBBBBB;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <!-- <ion-item ui-sref="viewBusinessCard">Name: {{bcard.name}}, Address: {{bcard.address}}</ion-item> -->
        <form class="list">
            <label class="item item-input" name="name">
                <span class="input-label">My Name</span>
                <input type="text" placeholder={{bcard.name}} ng-model="card.name">
            </label>
            <label class="item item-input" name="number">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder={{bcard.phone}} ng-model="card.phone">
            </label>
            <label class="item item-input" name="email">
                <span class="input-label">Email Address</span>
                <input type="text" placeholder={{bcard.email_address}} ng-model="card.email_address">
            </label>
            <label class="item item-input" name="address">
                <span class="input-label">Address</span>
                <input type="text" placeholder={{bcard.address}} ng-model="card.address">
            </label>
            <label class="item item-input" name="company">
                <span class="input-label">Company</span>
                <input type="text" placeholder={{bcard.company}} ng-model="card.company">
            </label>
            <label class="item item-input" name="position">
                <span class="input-label">Position</span>
                <input type="text" placeholder="{{bcard.position}}" ng-model="card.position">
            </label>
            <label class="item item-input" name="facebook">
                <span class="input-label">Facebook</span>
                <input type="text" placeholder={{bcard.facebook}} ng-model="card.facebook">
            </label>
            <label class="item item-input" name="pinterest">
                <span class="input-label">Pinterest</span>
                <input type="text" placeholder={{bcard.pinterest}} ng-model="card.pinterest">
            </label>
            <label class="item item-input" name="instagram">
                <span class="input-label">Instagram</span>
                <input type="text" placeholder={{bcard.instagram}} ng-model="card.instagram">
            </label>
            <label class="item item-input" name="twitter">
                <span class="input-label">Twitter</span>
                <input type="text" placeholder={{bcard.twitter}} ng-model="card.twitter">
            </label>
            <label class="item item-input" name="website">
                <span class="input-label">Website</span>
                <input type="text" placeholder={{bcard.website}} ng-model="card.website">
            </label>
            <div class="padding">
              <button type="submit" class="button button-block button-calm icon-left ion-checkmark-circled" ng-click="save_card()">Save!</button>
            </div>
            <!-- <a ui-sref="viewBusinessCard" id="myCard-button12" class="button button-positive  button-block">Save!</a> -->
        </form>
    </ion-content>
</ion-view>
