<ion-view title="My Events" id="page3" style="background-color:#FF0047;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-item ui-sref="tabsController.event">Event1</ion-item>
            <ion-item ui-sref="tabsController.event">Event2</ion-item>
            <ion-item ui-sref="tabsController.event">Event3</ion-item>
            <ion-item class="item-divider">Nearby</ion-item>
        </ion-list>
        <ion-list>
            <ion-item ui-sref="tabsController.event">Event1</ion-item>
            <ion-item ui-sref="tabsController.event">Event2</ion-item>
            <ion-item ui-sref="tabsController.event">Event3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>