<ion-view title="Search Attendees" id="page20">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!-- <form class="list">
            <label class="item item-input" name="Search Attendees">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Name, Position, Company, etc..">
            </label>
            <ion-item class="item-thumbnail-left" ui-sref="viewBusinessCard">
                <img>
                <h2>Lname, Fname</h2>
                <p>Position</p>
            </ion-item>
        </form> -->
        <ion-list ng-repeat="bcard in bcards">
            <ion-item ui-sref="viewBusinessCard">Name: {{bcard.name}}, Address: {{bcard.address}}</ion-item>
        </ion-list>
    </ion-content>
</ion-view>
