<ion-view title="Search Business Cards" id="page7" style="background-color:#00A2FF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search Bcard">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Enter Name">
            </label>
        </form>
        <div class="list card" ng-repeat="bcard in bcards">
              <div class="item item-divider">{{bcard.name}}</div>
              <div class="item item-body">
                <div>
                  {{bcard.company}}
                </div>
              </div>
        </div>
        <!-- <ion-list>
            <ion-item ui-sref="viewBusinessCard">Item 1</ion-item>
            <ion-item ui-sref="viewBusinessCard">Item 2</ion-item>
            <ion-item ui-sref="viewBusinessCard">Item 3</ion-item>
        </ion-list>
        <ion-list>
            <ion-item ui-sref="viewBusinessCard">Item 1</ion-item>
            <ion-item ui-sref="viewBusinessCard">Item 2</ion-item>
            <ion-item ui-sref="viewBusinessCard">Item 3</ion-item>
        </ion-list> -->
    </ion-content>
</ion-view>
