<ion-view title="Search Business Cards" id="page7" style="background-color:#0097EF;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input" name="Search Bcard">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="search" name="keywords" type="text" autofocus class="form-control" placeholder="Name, Address, Etc...">
            </label>
        </form>
        <!-- <button id="searchBusinessCards-button8" class="button button-stable  button-block button-calm" ng-click="reload()">Search!</button> -->
        <ion-list ng-repeat="bcard in bcards | filter: search | orderBy:orderProp">
          <div class="item item-avatar">
            <!-- <img src="my-image.png"> -->
            <ion-item ng-click="click_card(bcard)">{{bcard.name}} : {{bcard.address}}</ion-item>
            <!-- ui-sref="viewBusinessCard" -->
          </div>
        </ion-list>
    </ion-content>
</ion-view>
