<ion-view title="Search Attendees" id="page20">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!-- <form class="list">
            <label class="item item-input" name="Search Attendees">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Name, Position, Company, etc..">
            </label>
            <ion-item class="item-thumbnail-left" ui-sref="viewBusinessCard">
                <img>
                <h2>Lname, Fname</h2>
                <p>Position</p>
            </ion-item>
        </form> -->
        <div class="list card" ng-repeat="bcard in bcards">
              <div class="item item-divider">{{bcard.name}}</div>
              <div class="item item-body">
                <div>
                  {{bcard.company}}
                </div>
              </div>
        </div>
    </ion-content>
</ion-view>
