<ion-view title="Study Results" id="page18"  style="background-color:#59448E;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 id="studyResults-heading8"  style="color:#FFFFFF;">{{deck.name}}</h1>
        <div id="studyResults-markdown4"  style="color:#FFFFFF;">
            <ul>
              <li>Score: {{score}}/{{total}}</li>
              <li>{{message}}</li>
            </ul>
        </div>
        <!-- <a href="#/study" id="studyResults-button16" class="button button-positive  button-block">Back to Study</a> -->
        <button class="button button-block button-positive icon-left ion-arrow-left-c" ng-click="back_to_study()">Back To Study</button>
    </ion-content>
</ion-view>
