<ion-view title="View Business Card" id="page11" style="background-color:#BDBDBD;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 id="viewBusinessCard-heading2" style="color:#0C1C35;">Lname, Fname</h1>
        <div id="viewBusinessCard-markdown2" style="color:#000000;">
            <ul>
                <li>Address</li>
                <li>Phone Number</li>
                <li>Email Address</li>
                <li>Company</li>
                <li>Position</li>
                <li>Facebook</li>
                <li>Pinterest</li>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Website</li>
            </ul>
        </div>
        <a ui-sref="addTags" id="viewBusinessCard-button9" class="button button-positive  button-block icon ion-android-create">Add Tags</a>
        <ion-list>
            <ion-item>Tag 1</ion-item>
            <ion-item>Tag 2</ion-item>
            <ion-item>Tag 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>