<ion-view title="View Business Card" id="page11" style="background-color:#BDBDBD;">
  <div class="card">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1 id="viewBusinessCard-heading2" style="color:#0C1C35;">{{bcard.name}}</h1>
        <img class="full-image" src={{bcard.picture}}>
        <div id="viewBusinessCard-markdown2" style="color:#000000;">
            <ul>
                <li>Address: {{bcard.address}}</li>
                <li>Phone Number: {{bcard.number}}</li>
                <li>Email Address: {{bcard.email}}</li>
                <li>Company: {{bcard.company}}</li>
                <li>Position: {{bcard.position}}</li>
                <li>Facebook: {{bcard.facebook}}</li>
                <li>Pinterest: {{bcard.pinterest}}</li>
                <li>Instagram: {{bcard.instagram}}</li>
                <li>Twitter: {{bcard.twitter}}</li>
                <li>Website: {{bcard.website}}</li>
            </ul>
        </div>
        <a ui-sref="addTags" id="viewBusinessCard-button9" class="button button-positive  button-block icon ion-android-create">Add Tags</a>
        <ion-list ng-repeat="tag in tags | orderBy:orderProp | limitTo:quantity">
            <ion-item>text: {{tag.text}}, hits: {{tag.hits}}</ion-item>
        </ion-list>
    </ion-content>
  </div>
</ion-view>
