<ion-view title="View Business Card" id="page11" style="background-color:#0097EF;">
  <div class="card">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <div class="card">
        <h1 id="viewBusinessCard-heading2" style="color:#0C1C35;">{{bcard.name}}</h1>
        <!-- <img class="full-image" src={{bcard.picture}}> -->
        <div id="viewBusinessCard-markdown2" style="color:#000000;">
            <ul>
                <li>Address: {{bcard.address}}</li>
                <li>Phone Number: {{bcard.phone}}</li>
                <li>Email Address: {{bcard.email_address}}</li>
                <li>Company: {{bcard.company}}</li>
                <li>Position: {{bcard.position}}</li>
                <li>Facebook: {{bcard.facebook}}</li>
                <li>Pinterest: {{bcard.pinterest}}</li>
                <li>Instagram: {{bcard.instagram}}</li>
                <li>Twitter: {{bcard.twitter}}</li>
                <li>Website: {{bcard.website}}</li>
            </ul>
        </div>
      </div>
        <button id="viewBusinessCard-button9" class="button button-positive  button-block icon-left ion-plus-circled" ng-click="click_tags(bcard)">Add Tags</button>
        <ion-list ng-repeat="tag in tags | orderBy:orderProp">
          <div class="buttons">
            <ion-item>{{tag.text}}
              <ion-option-button class="button button-assertive icon ion-android-delete" id="deleteTag" ng-click="delete_tag(tag.id)">Delete Tag?</ion-option-button>
            </ion-item>
          </div>
        </ion-list>
    </ion-content>
  </div>
</ion-view>
